#contactcontainer {
    width: 100%;
    padding: 0% 20%;
    padding-top: 50px;
    box-sizing: border-box;
    color: #ccd6f6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactcontainer p:nth-child(1) {
    color: #4cc3ad;
    font-size: 18px;
}

#contactcontainer h1 {
    font-size: 50px !important;
    letter-spacing: 2px;
    margin-top: -15px;
}

#contactcontainer p:nth-child(3) {
    font-size: 18px !important;
    color: #8892b0;
    width: 600px;
    margin-bottom: 55px;
    text-align: center;
}

#designedby {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    font-style: italic;
    margin-left: 35px;
}