#skillscontainer {
    width: 100%;
    padding: 0% 20%;
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: #ccd6f6;
}

#skillscontainer h1:nth-child(1) {
    height: min-content;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lineskill {
    width: 300px;
    border: 1px solid #233554;
}

#stack {
    margin-top: 20px;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#stack section div {
    cursor: pointer;
    background: url('panta.png');
    background-size: cover;
    width: 115px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 6px;
    position: relative;
}

#stack section div img {
    filter: blur(15px);
    width: 65px;
    height: 65px;
    animation-name: blurunblur;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 4s;
}

@keyframes blurunblur {
    0% {
        filter: blur(15px);
    }

    25% {
        filter: blur(0px);
    }

    50% {
        filter: blur(0px);
    }

    75% {
        filter: blur(0px);
    }

    100% {
        filter: blur(15px);
    }
}