#socialleft {
    position: fixed;
    left: 50px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 380px;
}

svg {
    width: 25px;
    height: 25px;
}

svg path {
    fill: #8892b0;
}

#socialleft a:hover>svg path {
    fill: #64ffda;
}

.stick {
    background-color: #8892b0;
    width: 2px;
    height: 100px;
}

.sticktilt {
    background-color: #8892b0;
    width: 2px;
    height: 100px;
}

@media (width<=800px) {
    .sociallefttilt {
        flex-direction: row-reverse !important;
        left: 0 !important;
        width: 400px !important;
    }

    .stick {
        background-color: #8892b0;
        width: 100px !important;
        height: 2px !important;
    }
}

@media (width<=450px) {
    .sociallefttilt {
        width: 320px !important;
    }

    .stick {
        width: 50px !important;
    }
}

@media (width<=355px) {
    .sociallefttilt {
        width: 275px !important;
    }

    .stick {
        width: 40px !important;
    }

    svg {
        width: 20px;
        height: 20px;
    }
}

@media (width<=295px) {
    .sociallefttilt {
        width: 240px !important;
    }

    svg {
        width: 16px;
        height: 16px;
    }
}

@media (width<=255px) {
    .sociallefttilt {
        width: 200px !important;
    }
}

@media (width<=235px) {
    .sociallefttilt {
        width: 170px !important;
    }
}